{% extends 'base.html.twig' %}

{% block title %}Editar Artículo{% endblock %}

{% block body %}
    <h1>Editar Artículo</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_article_index') }}"><button type="button" class="btn btn-primary">Volver al listado</button></a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
