<nav class="navbar navbar-expand-sm bg-light">

	<div
		class="container-fluid">
		<!-- Links -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_home') }}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_article_index') }}">Articulos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_product_index') }}">Productos</a>
			</li>
            <li class="nav-item">
				<a class="nav-link" href="{{ path('app_category_index') }}">Categorias</a>
			</li>
		</ul>
	</div>

</nav>
